
.deleteBtn{
    
    background-color: black;
    border-color: black;
    padding: 1em;
    margin: 2em;
}


.cart-box{
    display: flex; 
    flex-direction: column;
    width: 100%; 
    justify-content: center;
    align-items: center;
}


.cartDetail{
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content:center ;
}


.card-title{
    margin-top: 10%;
    font-weight: bold;
}