
.deleteBtn{
    
    background-color: black;
    border-color: black;
    padding: 1em;
    margin: 2em;
    height: 60px;
}


.cart-box{
    display: flex; 
    flex-direction: column;
    width: 100%; 
    justify-content: center;
    align-items: center;
}

/*
.cartDetail{
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content:center ;
}*/

.cart-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.card-title{
    margin-top: 10%;
    font-weight: bold;
}


.total-purchase{
   display: flex;
   justify-content: center;
   
}

.total-purchase-p{
    background-color:white;
    color:black;
    height: 2em;
    width: 100%;
    display: flex;
    border-radius: 0.375rem;
    align-items: center;
    justify-content: center;
    margin: 2em;
}


@media (max-width: 750px) {

    #cart-items{
        flex-direction: column;    
    }

    #cart-items img{
        margin:auto;
    }

    .cart-detail{
        margin: auto;
    }
   
}