
@media (max-width: 750px) {

    #nav-login{
        display: flex;
        
    }

    #cart-icon{
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
    }

    #nav-login{
        margin-left: 20px;
    }

   
}

@media (max-width: 350px) {
    #login-buttons{
        display: flex;
    }

    .login-button{
        height: 30px;
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
   


}