.title{
    color: rgb(253, 241, 80);
    text-align: center;
    margin: 2%;
    margin-bottom: 10%;
}

.card-img-top{
    height: 60%;
    width: 100%;
}


.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.textarea{
    height: 10em;
    margin-bottom: 1em; 
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

a{
    text-decoration:none;
    color: black;

}

a:hover{
    color: black;
}


.imgContainer{
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
    width: 100%;
    height:auto;
}


.card-text{
    margin-top: 5%;
}

.card-body :hover{
    text-decoration: none;
    
}



@media (max-width: 750px) {

.card-body{
    flex-direction: column;
    
}


}